/* CSS untuk memusatkan teks */
header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/* CSS untuk animasi mengetik */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.typing-animation {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end) step-end infinite;
}